.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store
data/input/
data/raw/
**/Extracted Data/
ma-data/
**/*.zip

data/output/
**/*.parquet
**/*.feather
**/*.pkl

!data/output/final/

data/processed/plan_county_year_*.csv
data/processed/plan_county_year_2014_2019.csv
data/processed/plan_service_area_*.csv
data/cache/
data/processed/plan_bids_*.csv
